<div ng-controller="managerCtrl" layout="column" ng-cloak>

  <md-sidenav
    class=md-sidenav-left"
    md-component-id="manager-nav"
    md-is-locked-open="$mdMedia('gt-md')"
    md-whiteframe="4">

    <!--User's email and gravatar-->
    <!--<md-toolbar class="md-theme-indigo">-->
    <!--<h1 class="md-toolbar-tools"></h1>-->
    <!--</md-toolbar>-->

    <md-content layout-padding ng-controller="navCtrl">

      <!--TODO(arkbriar@gmail.com) Contents of navbar-->

    </md-content>

  </md-sidenav>

</div>