<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="ssmgr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="ssmgr" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="ssmgr" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="ssmgr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Shadowsocks</title>

  <meta name="description" content="Shadowsocks Manager of Multiple Servers">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="app.css">
</head>
<body ng-app="ssmgr" ng-controller="MainCtrl" layout="column" ng-cloak>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <md-toolbar layout="row" flex class="toolbar" id="ssmgr-toolbar" md-whiteframe="4">
    <img src="statics/img/shadowsocks.png" class="page-logo">

    <div class="md-padding" layout="row" layout-align="end" flex>
      <md-nav-bar md-selected-nav-item="currentNavItem"
                  nav-bar-aria-label="navigation links">
        <md-nav-item ng-repeat="item in navItems"
                     md-nav-click="changeView(item)" name="{{item}}">
          {{item.toUpperCase()}}
        </md-nav-item>
      </md-nav-bar>

      <md-button aria-label="sign-in-button" class="md-raised md-warn" ng-click="goto('login')">SIGN IN</md-button>
    </div>

  </md-toolbar>

  <div ng-view flex md-scroll-y></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="app.js"></script>

  <!--scripts of views-->
  <script src="home/home.js"></script>
  <script src="user/user.js"></script>
  <script src="admin/admin.js"></script>
  <script src="pricing/pricing.js"></script>
  <script src="about/about.js"></script>

</body>
</html>
